<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Only run this script on the homepage
        if (window.location.pathname === '/') {
            const sections = document.querySelectorAll('section[id]');
            const navLinks = document.querySelectorAll('.navbar-nav .nav-link');

            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        navLinks.forEach(link => {
                            link.classList.remove('active');
                            if (link.getAttribute('href').includes(entry.target.id)) {
                                link.classList.add('active');
                            }
                        });
                    }
                });
            }, { threshold: 0.4 }); // Triggers when 40% of the section is visible

            sections.forEach(section => {
                observer.observe(section);
            });
        }
    });
</script>
    </body>
</html>