<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.jpg" alt="logo">-->

<main class="container">
<div class="jumbotron">
    <div class="alert alert-info textsize height500">
        <div class="relative">
            <div class="absolute1"> <img src="img/ProfilePicture.jpg" height="100%" widht="100%" alt="ProfilePicture"></div>
            <div class="absolute2"><h2>Education</h2><p>I'm Van Nguyen, currently in my third semester of Software Engineering Technology at Centennial College. I bring a strong background in software development, relational databases, and problem-solving skills. My expertise includes Python, web programming languages, and C.</p>
            <h2>Qualifications</h2>
        <ul>
            <li> Extensive exposure to software development, relational databases, as well as problem solving skills gained through side projects and courseware on CS50 and Udemy</li>
            <li> Minimum of 2 years of hands-on experience in C# development and strong relational database projects </li>
            <li> Ability to analyze and troubleshoot software defects and performance issues</li>
            <li> Experience using Git/GitHub for version control </li>
            <li> Develop excellent leadership, teamwork, strong interpersonal and communication skills through group project </li>
            <li> Analytical thinking and problem-solving skills developed through challenging engineering program </li>
        </ul>
        </div>
        </div>
    </div>
    <div class="alert alert-info textsize">
        <h2 class="tcenter">Latest Project: Trading Web Application</h2>
        <p>I've successfully deployed and hosted a trading web application with over 50 registered users. In this project, I implemented client-side and server-side validations for account registration, signing in, and stock trading. I integrated Google and Yahoo APIs to fetch real-time stock prices, showcasing my proficiency in web programming languages and relational database.</p>
        <a href="https://vannguyen.dev/"><h2 class="tcenter">Try My Trading Web: Live Stock Price, Bonus $10,000 for your portfolio</h2></a>
    </div>
    <div class="alert alert-info textsize">
        <a href="/Resume.pdf"><h2 class="tcenter">Download Resume PDF</h2>
    </div>
</div>

</main>
<div class="height350"></div>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   