<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.jpg" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <div class="alert alert-info textsize">
        <h2 class="tcenter"> 403 Internal ERROR</h2>
    </div>

</div>
<div class="height350"></div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   