<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron tcenter">

    <h1>My Services</h1>
    <div class="alert alert-info textsize">
        <h2>General Programming</h2>
        <p>I offer general programming services to meet your specific needs.</p>
        <img src="/img/general-programming.jpg" alt="General Programming">
        <a href="/contact?service=General%20Programming"><h3>Request General Programming Service</h3></a>
    </div>
    <div class="alert alert-info textsize">
        <h2 a>Web Development</h2>
        <p>I'm specialized in creating modern and responsive websites.</p>
        <img src="/img/web-development.jpg" alt="Web Development">
        <a href="/contact?service=Web%20Development"><h3>Request Web Development Service</h3></a>
    </div>
    <div class="alert alert-info textsize">
        <h2>Database Management</h2>
        <p>I can help you optimize and manage your databases efficiently.</p>
        <img src="/img/database-management.jpg" alt="Database Management">
        <a href="/contact?service=Database%20Management"><h3>Request Database Management Service</h3></a>
    </div>
    </div>
<div class="height350"></div>
</main>
<div class="height350"></div>
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   