/* Brand Styles */
nav .navbar-brand {
    font-size: xx-large;
}

.navbar-nav .nav-link {
    font-size: 25px;
}

/* Brand Colors */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

/* Container Styles */
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 90%;
}

/* Table Styles */
table, .fixt {
    table-layout: fixed;
}

/* Navbar Styles */
ul.navbar-max {
    list-style: none;
    display: inline;
    float: right;
    font-size: 20px;
}

ul.navbar-max li {
    display: inline-block;
}

/* Link Styles */
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

/* Text Center Styles */
.tcenter {
    text-align: center;
}

/* Body Styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main Styles */
main {
    flex: 1;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
}

footer .navbar-text {
    margin-bottom: 0;
}

/* Active Tab Styles */
.active {
    color: #1850a3;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}

/* Text Size Styles */
.textsize {
    font-size: large;
}

/* Relative and Absolute Styles */
div.relative {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.absolute1, div.absolute2 {
    position: absolute;
    top: 0;
}

div.absolute1 {
    width: 27%;
}

div.absolute2 {
    width: 73%;
}

/* Height Styles */
.height500 {
    height: 910px;
}

.height350 {
    height: 180px;
}



/* Div2 Padding Styles */
.div2 {
    padding-left: 15px;
    padding-right: 5px;
}

/* Center Text Styles */
.div2 h2.tcenter, .div2 p {
    text-align: center;
}

/* Image Styles */
.alert-info img {
    max-width: 100%;
    height: auto;
}
.iframe-container {
    display: flex;
    justify-content: center; /* Centers the iframe horizontally */
    width: 100%; /* Ensures the container takes up full width of its parent */
}
/* Image Size Adjustment Styles */
@media (max-width: 767px) {
    .alert-info img {
        max-width: 100%;
        height: auto;
    }
    .btn-submit {
        margin-top: 10px;
        margin-bottom: 100px; /* Adjust the margin as needed to separate the button from the form */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .alert-info img {
        max-width: 80%;
        height: auto;
    }
}
